
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_heading{
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.8);
}

.input_style{
    border: none;
    box-shadow: 0px 0px 12px -8px rgba(0,0,0,0.82);
    border-radius:5px;
}
.button{
    border: none;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0,0.3);
    border-radius:5px;
}
.heading_style{
    position: fixed;
    backdrop-filter:blur(50px);
    width:100%;
}

.bg-dark_theme{
    background: #00000087;
    color: white;
    border: none;
}